dist*
static/tmp/
config/client_session_key.aes
*.hi
*.o
*.sqlite3
.hsenv*
cabal-dev/
yesod-devel/
/bin/survey-server
/survey-server.keter
/doc/crypto-data-storage/crypto-data-storage.aux
/doc/crypto-data-storage/crypto-data-storage.log
/doc/crypto-data-storage/crypto-data-storage-de.aux
/doc/crypto-data-storage/crypto-data-storage-de.log
/doc/crypto-data-storage/crypto-data-storage-en.aux
/doc/crypto-data-storage/crypto-data-storage-en.log
/doc/ian-notes.aux
/doc/ian-notes.log
